header {
	background: black;
	height: 125px;
}

body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

#logo-centralizado {
	position: relative;
	display: block;
	width: 300px;
	margin: 0 auto;
	padding: 15px;
}

.caixa {
	margin: 50px auto;
	width: 50%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

button {
	font-size: 1.3em;
	border-radius: 50px;
	width: 450px;
	height: 60px;
	margin: 5px auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.facebook {
	background: blue;
}

